.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background: #3c3a39;
}

.logo {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  position: relative;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 0%;
  color: white;
}

.menu-btn {
  position: relative;
  top: 10%;
  right: 30px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 375px;
  height: 590px;
  background: #1c1a19;
  top: 50px;
  left: 0;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom -50px;
  background-size: 35%;
}

.text-primary {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.text-supporting {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.text-description {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.icons {
  display: flex;
  width: 180px;
  align-self: flex-start;
  justify-content: space-between;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 30px;
}

.icons svg:hover{
  cursor: pointer;
}