.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  position: relative;
  height: 50px;
  background: #3c3a39;
}

.logo {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  position: relative;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 25%;
  color: white;
}

.menu-btn {
  position: relative;
  top: 10%;
  right: 30px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 375px;
  height: 590px;
  background: #1c1a19;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom -50px;
  background-size: 35%;
}

.text-primary {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.text-supporting {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.text-description {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.icons {
  display: flex;
  width: 180px;
  align-self: flex-start;
  justify-content: space-between;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 30px;
  list-style-type: none;
  padding-left: 10px;
}

.icons svg:hover{
  cursor: pointer;
}

.works{
  position:relative;
  display: grid;
  grid-template-columns: 375px;
  color: black;
  width: 375px;
  justify-items: center;
  margin-top: 90px;
}

#txt-works{
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
}

#line {
  width: 327px;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #212121;
  margin-bottom: 70px;
}

.card1 img{
  width: 327px;
  height: 237px;
}

.card1{
  display: flex;
  flex-direction: column;
  width: 327px;
  padding-top: 40px;
}

.card1 h1{
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 15px;
  margin-bottom: 0;
}

.card1 p{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  margin-bottom: 0;
}

.card{
  width: 327px;
  height: 386px;
  background-image: url("card_background.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
}

#card1btn{
  background: #FF6B00;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  margin: 12px 0;
  border: 1px solid #8993A4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

.card1-btn{
  display: flex;
  padding-left: 0;
}

.card1-btn li{
  background-color: white;
  padding: 10px 12px;
  margin-right: 5px;
  border: 1px solid #8993A4;
  list-style-type: none;
}

.card h1{
  width: 295px;
  height: 81px;
  padding-top: 75px;
  padding-left: 25px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 0;
}

.card p{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 25px;
  color: #FFF;
  width: 295px;
  margin-bottom: 0;
}

.card-btn{
  display: flex;
  padding-left: 0;
  margin-left: 25px;
}

.card-btn li{
  background: rgb(255 255 255/ 24%);
  padding: 10px 12px;
  margin-right: 10px;
  border: 1px solid #8993A4;
  list-style-type: none;
  color: white;
}

.cardbtn2 {
  background: #FF6B00;
  width: 100%;
  height: 60px;
  padding: 15px 0;
  border: 1px solid #8993A4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

.about{
  position:relative;
  display: grid;
  grid-template-columns: 375px;
  color: black;
  width: 375px;
  justify-items: center;
  margin-top: 90px;
  background: #1C1A19;
  background-image: url("aboutme.png");
  background-repeat: no-repeat;
  background-position: right 0 top 340px;
}

.card-aboutme h1{
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #FF6B00;
}

.card-aboutme p{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  color: #F4F5F7;
}

#card2btn{
  background: #FF6B00;
  width: 161px;
  height: 48px;
  left: 0;
  top: 259px;
  margin: 12px 0;
  border: 1px solid #8993A4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

#line2{
  width: 327px;
  height: 0;
  left: 0;
  top: 107px;
  border: 1px solid #fff;
  margin-top: 170px;
  margin-bottom: 70px;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h2{
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  text-align: center;
  color: #FFF;
  min-width: 150px;
}

.skills li{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
  color: #FFF;
  width: 200px;
}

.skills ul{
  text-align: center;
}

#diamond{
  width: 18px;
  height: 18px;
  background: #FF6B00;
  transform: rotate(-45deg);
  margin-top: 15px;
  margin-right: 30px;
}

#rectangle{
  width: 18px;
  height: 18px;  
  background: #FF6B00;
  margin-top: 15px;
  margin-right: 30px;
}

#circle{
  width: 18px;
  height: 18px;
  background: #FF6B00;
  border-radius: 150px;
  margin-top: 15px;
  margin-right: 35px;
}

.contact-me{
  width: 375px;
}

.contact-me p{

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
text-align: center;
order: 0;
flex-grow: 0;
margin: 120px 24px 15px 24px;
}

.form{
  margin-top: 73px;
  list-style-type: none;
  align-self: start;
  padding-left: 0;
}

.form li {
  margin-bottom: 39px;
}

.form input {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 14px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
width: 327px;
margin-left: 16px;
padding-left: 15px;
}

.form textarea {
  background: #FBF8F7;
  border: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
margin-left: 16px;
height: 114px;
width: 327px;
padding-left: 15px;
padding-top: 15px;
}

.form button {
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #fff;
background: #FF6B00;
width:131px;
}